html {
  box-sizing: border-box;
  font-size: 14px; }
  @media (min-width: 1440px) {
    html {
      font-size: 18px; } }

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: #181f2a;
  color: white; }

h1,
h2,
p {
  text-align: center; }

p {
  padding: 30px; }

h1,
h2 {
  font-family: "Raleway", sans-serif; }

section {
  padding-top: 80px 20px 20px 20px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1200px; }

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

button {
  font-family: "Raleway", sans-serif;
  background: #339ecc;
  background-image: linear-gradient(to right, #65e2d9 0%, #339ecc 90%);
  font-weight: 700;
  padding: 20px 80px;
  color: white;
  border: none;
  border-radius: 30px;
  margin-top: 30px; }
  button:hover {
    cursor: pointer; }

.site-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #1c2431; }
  .site-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%; }
  .site-header .logo {
    height: 30px; }

.navbar {
  list-style: none;
  display: flex; }
  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px; }
    @media (min-width: 1440px) {
      .navbar a {
        margin-left: 40px; } }

.hero {
  background-color: #1c2431;
  width: 100vw;
  position: relative; }
  .hero::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 560px;
    background-image: url("../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  .hero .container {
    z-index: 99999; }
  @media (min-width: 1440px) {
    .hero .container {
      width: 800px; }
    .hero::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 530px;
      background-image: url("../images/bg-curvy-desktop.svg");
      background-repeat: no-repeat;
      background-size: contain; } }
  .hero__img {
    width: 80%;
    margin-bottom: 50px; }
  .hero__title {
    line-height: 1.6;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 700; }
  .hero__body {
    text-align: center; }
    @media (min-width: 1440px) {
      .hero__body {
        width: 600px; } }

.features {
  z-index: 99999; }
  @media (min-width: 1440px) {
    .features {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      width: 1200px; } }
  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px; }
    @media (min-width: 1440px) {
      .features__item {
        flex-basis: 500px; } }
  .features__icon {
    height: 150px;
    padding: 40px; }

.about {
  padding: 40px;
  margin-bottom: 100px; }
  @media (min-width: 1440px) {
    .about {
      flex-direction: row;
      justify-content: space-around;
      width: 1440px; } }
  @media (min-width: 1440px) {
    .about__info {
      width: 45%; } }
  .about__img {
    width: 80%;
    margin-bottom: 60px; }
    @media (min-width: 1440px) {
      .about__img {
        width: 45%; } }
  .about__title, .about__body {
    text-align: left;
    padding-left: 0; }
  .about__link {
    color: #65e2d9;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 2px solid #65e2d9; }
  .about .fa-arrow-circle-right {
    margin-left: 8px; }

.card {
  width: 70%;
  background-color: #202a3c;
  margin-bottom: 40px;
  border-radius: 12px;
  position: relative; }
  .card__text {
    text-align: left; }

@media (min-width: 1440px) {
  .testimonials {
    flex-direction: row;
    justify-content: space-around;
    width: 1440px; } }

@media (min-width: 1440px) {
  .testimonials .card {
    width: 30%; } }

.testimonials .card__text {
  text-align: left; }

.testimonials .card:first-of-type::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  z-index: -99999; }

.testimonials .user__info {
  display: flex;
  align-items: center;
  padding: 20px; }

.testimonials .user__img {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.testimonials .user__data p {
  padding: 0;
  margin-left: 8px;
  text-align: left; }

.testimonials .user__data--name {
  font-weight: 700;
  font-weight: 0.8rem; }

.testimonials .user__data--desc {
  font-size: 0.8rem; }

.sign-up {
  margin-bottom: 60px; }
  .sign-up .card__sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c2431;
    padding: 20px;
    width: 90vw; }
    @media (min-width: 1440px) {
      .sign-up .card__sign-up {
        box-shadow: 8px 6px 14px rgba(0, 0, 0, 0.2);
        padding: 50px;
        width: 900px;
        position: absolute;
        z-index: 99999; } }
  .sign-up__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 1440px) {
      .sign-up__form {
        flex-direction: row;
        width: 100%; } }
  .sign-up__form--input {
    border: none;
    border-radius: 30px;
    padding: 20px 50px; }
    @media (min-width: 1440px) {
      .sign-up__form--input {
        height: 50px;
        width: 60%;
        margin-right: 20px; } }
  @media (min-width: 1440px) {
    .sign-up .btn--submit {
      margin-top: 0; } }

.site-footer {
  background-color: #0b1523;
  width: 100%; }
  @media (min-width: 1440px) {
    .site-footer {
      margin-top: 200px;
      padding-top: 200px; } }
  .site-footer .container {
    align-items: flex-start; }
  .site-footer p {
    text-align: left;
    padding: 10px 35px;
    position: relative; }
  .site-footer .location__info::before {
    content: "";
    background-image: url("../images/icon-location.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  .site-footer .contact {
    margin-bottom: 60px; }
    .site-footer .contact__phone::before {
      content: "";
      background-image: url("../images/icon-phone.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%; }
    .site-footer .contact__email::before {
      content: "";
      background-image: url("../images/icon-email.svg");
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%; }
    .site-footer .contact a {
      color: white;
      text-decoration: none; }
  .site-footer .logo {
    margin-bottom: 50px; }
  .site-footer .footer-nav {
    list-style: none;
    margin-bottom: 40px; }
    .site-footer .footer-nav li {
      padding: 10px 0; }
  .site-footer .social-media {
    display: flex;
    width: 100%;
    justify-content: center; }
    .site-footer .social-media__icons {
      display: flex;
      justify-content: space-around;
      width: 150px; }
    .site-footer .social-media .fab {
      font-size: 14px;
      padding: 7px;
      border: 1px solid white;
      border-radius: 50%; }

/*# sourceMappingURL=styles.css.map */
