html {
  box-sizing: border-box;
  font-size: 14px; }

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: #181f2a;
  color: white; }

h1,
h2,
p {
  text-align: center; }

p {
  padding: 30px; }

h1,
h2 {
  font-family: "Raleway", sans-serif; }

section {
  padding-top: 80px 20px 20px 20px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1440px; }

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

button {
  font-family: "Raleway", sans-serif;
  background: #339ecc;
  background-image: linear-gradient(to right, #65e2d9 0%, #339ecc 90%);
  font-weight: 700;
  padding: 20px 80px;
  color: white;
  border: none;
  border-radius: 30px;
  margin-top: 30px; }

.site-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #1c2431; }
  .site-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    width: 95vw; }
  .site-header .logo {
    height: 30px; }

.navbar {
  list-style: none;
  display: flex; }
  .navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px; }

.hero {
  background-color: #1c2431;
  width: 100vw; }
  .hero__img {
    width: 80%;
    margin-bottom: 50px; }
  .hero__title {
    line-height: 1.6;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 700; }
  .hero__body {
    text-align: center; }

.features__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px; }
  .features__item:last-of-type {
    margin-bottom: 0; }

.features__icon {
  padding: 40px; }

.about {
  padding: 40px;
  margin-bottom: 100px; }
  .about__img {
    width: 80%;
    margin-bottom: 60px; }
  .about__title, .about__body {
    text-align: left;
    padding-left: 0; }
  .about__link {
    color: #65e2d9;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 2px solid #65e2d9; }
  .about .fa-arrow-circle-right {
    margin-left: 8px; }

.card {
  width: 70%;
  background-color: #202a3c;
  margin-bottom: 40px;
  border-radius: 12px;
  position: relative; }
  .card__text {
    text-align: left; }

.testimonials .card__text {
  text-align: left; }

.testimonials .card:first-of-type::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40px;
  background-image: url("../images/bg-quotes.png");
  background-repeat: no-repeat;
  z-index: -99999; }

.testimonials .user__info {
  display: flex;
  align-items: center;
  padding: 20px; }

.testimonials .user__img {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.testimonials .user__data p {
  padding: 0;
  margin-left: 8px;
  text-align: left; }

.testimonials .user__data--name {
  font-weight: 700;
  font-weight: 0.8rem; }

.testimonials .user__data--desc {
  font-size: 0.8rem; }

.sign-up {
  margin-bottom: 60px; }
  .sign-up .card__sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c2431;
    padding: 20px;
    width: 90vw; }
  .sign-up__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
  .sign-up__form--input {
    display: block;
    border: none;
    border-radius: 30px;
    padding: 20px 50px; }

.site-footer .container {
  align-items: flex-start; }

.site-footer p {
  text-align: left;
  padding: 10px 35px;
  position: relative; }

.site-footer .location__info::before {
  content: "";
  background-image: url("../images/icon-location.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; }

.site-footer .contact {
  margin-bottom: 60px; }
  .site-footer .contact__phone::before {
    content: "";
    background-image: url("../images/icon-phone.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  .site-footer .contact__email::before {
    content: "";
    background-image: url("../images/icon-email.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  .site-footer .contact a {
    color: white;
    text-decoration: none; }

.site-footer .logo {
  margin-bottom: 50px; }

.site-footer .footer-nav {
  list-style: none;
  margin-bottom: 40px; }
  .site-footer .footer-nav li {
    padding: 10px 0; }

.site-footer .social-media {
  display: flex;
  width: 100%;
  justify-content: center; }
  .site-footer .social-media__icons {
    display: flex;
    justify-content: space-around;
    width: 150px; }
  .site-footer .social-media .fab {
    font-size: 14px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 50%; }

/*# sourceMappingURL=styles.css.map */
