// Variables

$body-text: "Open Sans", sans-serif;
$heading-text: "Raleway", sans-serif;

$primary-bg: hsl(218, 28%, 13%);
$secondary-bg: hsl(217, 28%, 15%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials-bg: hsl(219, 30%, 18%);

$primary-accent: hsl(176, 68%, 64%);
$secondary-accent: hsl(198, 60%, 50%);

$white: hsl(0, 0%, 100%);

$desktop: 1440px;

// Mixins

@mixin icon($image) {
  content: "";
  background-image: $image;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin bg-curve($image, $top) {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: $top;
  background-image: $image;
  background-repeat: no-repeat;
  background-size: contain;
}

// Base Styles
html {
  box-sizing: border-box;
  font-size: 14px;
  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

*,
*::after,
*::before {
  max-width: 100%;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-text;
  font-size: 1rem;
  background-color: $primary-bg;
  color: $white;
}

h1,
h2,
p {
  text-align: center;
}

p {
  padding: 30px;
}

h1,
h2 {
  font-family: $heading-text;
}

section {
  padding-top: 80px 20px 20px 20px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
}

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: $heading-text;
  background: $secondary-accent;
  background-image: linear-gradient(
    to right,
    $primary-accent 0%,
    $secondary-accent 90%
  );
  font-weight: 700;
  padding: 20px 80px;
  color: $white;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
  &:hover {
    cursor: pointer;
  }
}

// Header Section

.site-header {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 20px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    width: 100%;
  }

  background-color: $secondary-bg;

  .logo {
    height: 30px;
  }
}

.navbar {
  list-style: none;
  display: flex;

  a {
    color: $white;
    text-decoration: none;
    margin-left: 20px;
    @media (min-width: $desktop) {
      margin-left: 40px;
    }
  }
}

// Hero Section

.hero {
  background-color: $secondary-bg;
  width: 100vw;
  position: relative;
  &::before {
    @include bg-curve(url("../images/bg-curvy-mobile.svg"), 560px);
  }
  .container {
    z-index: 99999;
  }

  @media (min-width: $desktop) {
    .container {
      width: 800px;
    }
    &::before {
      @include bg-curve(url("../images/bg-curvy-desktop.svg"), 530px);
    }
  }

  &__img {
    width: 80%;
    margin-bottom: 50px;
  }

  &__title {
    line-height: 1.6;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 700;
  }

  &__body {
    text-align: center;
    @media (min-width: $desktop) {
      width: 600px;
    }
  }
}

// Features Section

.features {
  z-index: 99999;

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    @media (min-width: $desktop) {
      flex-basis: 500px;
    }
  }

  &__icon {
    height: 150px;
    padding: 40px;
  }
}

// About Section

.about {
  padding: 40px;
  margin-bottom: 100px;

  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-around;
    width: 1440px;
  }

  &__info {
    @media (min-width: $desktop) {
      width: 45%;
    }
  }

  &__img {
    width: 80%;
    margin-bottom: 60px;
    @media (min-width: $desktop) {
      width: 45%;
    }
  }

  &__title,
  &__body {
    text-align: left;
    padding-left: 0;
  }

  &__link {
    color: $primary-accent;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 2px solid $primary-accent;
  }

  .fa-arrow-circle-right {
    margin-left: 8px;
  }
}

// Card Styling
.card {
  width: 70%;
  background-color: $testimonials-bg;
  margin-bottom: 40px;
  border-radius: 12px;
  position: relative;

  &__text {
    text-align: left;
  }
}

// Testimonials Styling

.testimonials {
  @media (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-around;
    width: 1440px;
  }

  .card {
    @media (min-width: $desktop) {
      width: 30%;
    }
    &__text {
      text-align: left;
    }

    &:first-of-type::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -40px;
      background-image: url("../images/bg-quotes.png");
      background-repeat: no-repeat;
      z-index: -99999;
    }
  }

  .user {
    &__info {
      display: flex;
      align-items: center;
      padding: 20px;
    }

    &__img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    &__data {
      p {
        padding: 0;
        margin-left: 8px;
        text-align: left;
      }
    }

    &__data--name {
      font-weight: 700;
      font-weight: 0.8rem;
    }

    &__data--desc {
      font-size: 0.8rem;
    }
  }
}

// Sign Up Styling
.sign-up {
  margin-bottom: 60px;

  .card__sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-bg;
    padding: 20px;
    width: 90vw;
    @media (min-width: $desktop) {
      box-shadow: 8px 6px 14px rgba(0, 0, 0, 0.2);
      padding: 50px;
      width: 900px;
      position: absolute;
      z-index: 99999;
    }
  }

  &__form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    @media (min-width: $desktop) {
      flex-direction: row;
      width: 100%;
    }
  }

  &__form--input {
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    @media (min-width: $desktop) {
      height: 50px;
      width: 60%;
      margin-right: 20px;
    }
  }

  .btn--submit {
    @media (min-width: $desktop) {
      margin-top: 0;
    }
  }
}

// Footer Styling

.site-footer {
  background-color: $footer-bg;
  width: 100%;

  @media (min-width: $desktop) {
    margin-top: 200px;
    padding-top: 200px;
  }

  .container {
    align-items: flex-start;
  }

  p {
    text-align: left;
    padding: 10px 35px;
    position: relative;
  }

  .location {
    &__info::before {
      @include icon(url("../images/icon-location.svg"));
    }
  }
  .contact {
    &__phone::before {
      @include icon(url("../images/icon-phone.svg"));
    }

    &__email::before {
      @include icon(url("../images/icon-email.svg"));
    }

    a {
      color: $white;
      text-decoration: none;
    }

    margin-bottom: 60px;
  }

  .logo {
    margin-bottom: 50px;
  }

  .footer-nav {
    li {
      padding: 10px 0;
    }

    list-style: none;
    margin-bottom: 40px;
  }

  .social-media {
    display: flex;
    width: 100%;
    justify-content: center;

    &__icons {
      display: flex;
      justify-content: space-around;
      width: 150px;
    }

    .fab {
      font-size: 14px;
      padding: 7px;
      border: 1px solid $white;
      border-radius: 50%;
    }
  }
}
