// Variables

$body-text: "Open Sans", sans-serif;
$heading-text: "Raleway", sans-serif;

$primary-bg: hsl(218, 28%, 13%);
$secondary-bg: hsl(217, 28%, 15%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials-bg: hsl(219, 30%, 18%);

$primary-accent: hsl(176, 68%, 64%);
$secondary-accent: hsl(198, 60%, 50%);

$white: hsl(0, 0%, 100%);

// Base Styles
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $body-text;
  font-size: 1rem;
  background-color: $primary-bg;
  color: $white;
}

h1,
h2,
p {
  text-align: center;
}

p {
  padding: 30px;
}

h1,
h2 {
  font-family: $heading-text;
}

section {
  padding-top: 80px 20px 20px 20px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 40px;
  max-width: 1440px;
}

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: $heading-text;
  background: $secondary-accent;
  background-image: linear-gradient(
    to right,
    $primary-accent 0%,
    $secondary-accent 90%
  );
  font-weight: 700;
  padding: 20px 80px;
  color: $white;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
}

// Header Section

.site-header {
  width: 100vw;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    width: 85vw;
  }

  background-color: $secondary-bg;

  .logo {
    height: 40px;
  }
}

.navbar {
  list-style: none;
  display: flex;

  a {
    color: $white;
    text-decoration: none;
    margin-left: 30px;
  }
}

// Hero Section

.hero {
  background-color: $secondary-bg;
  width: 100vw;

  &__img {
    width: 80%;
    margin-bottom: 50px;
  }

  &__title {
    line-height: 1.6;
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 700;
  }

  &__body {
    text-align: center;
  }
}

// Features Section

.features {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  &__icon {
    padding: 40px;
  }
}

// About Section

.about {
  padding: 40px;
  margin-bottom: 100px;

  &__img {
    width: 80%;
    margin-bottom: 60px;
  }

  &__title,
  &__body {
    text-align: left;
    padding-left: 0;
  }

  &__link {
    color: $primary-accent;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 2px solid $primary-accent;
  }

  .fa-arrow-circle-right {
    margin-left: 8px;
  }
}
}