// Variables

$body-text: 'Open Sans', sans-serif;
$heading-text: 'Raleway', sans-serif;

$primary-bg: hsl(218, 28%, 13%);
$secondary-bg: hsl(217, 28%, 15%);
$footer-bg: hsl(216, 53%, 9%);
$testimonials-bg: hsl(219, 30%, 18%);

$primary-accent: hsl(176, 68%, 64%);
$secondary-accent: hsl(198, 60%, 50%);

$white: hsl(0, 0%, 100%);

// Base Styles

body {
  font-family: $body-text;  
}